<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Success</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <div id="version"></div>
    <div id="copyright">Copyright &copy; <span>2018</span> Marc Guiselin</div>
    <div id="content">
        <img src="images/logo.png" id="logo" draggable="false"/>
        <h1>Thats it!</h1>
        <div class="separator"></div>
        <p>Cortana will now use <%= browser %> and your favorite search engine instead of microsoft edge and bing for all its web searches!</p>
        <p>Try asking cortana to "open example.com" or try typing "what is life?" in the windows search bar and press enter.</p>
        <p>To change <%= name %>'s settings, click on the little icon in the upper-left corner of <%= browser %> or on the link below.</p>
        <a href="options.html">Options</a>
    </div>
    <script src="js/common.js"></script>
</body>
</html>